:root {
    --main-bg-color: #004595;
    --main-text-color: white;
    --warn-color: #dc3545;
}
a {
    text-decoration: none;
}
h1, h2, h4, p, span {
    padding: 0;
    margin: 0;
}
:hover {
    transition: all 0.2s;
}
.text-center {
    text-align: center;
}
.m-y-small {
    margin: 10px 0;
}
.m-t-very-small {
    margin-top: 3px;
}
.m-t-middle {
    margin-top: 20px;
}
.flex {
    display: flex;
}

/* ヘッダー */
header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px;
    height: 60px;
    z-index: 9000;
    filter: drop-shadow(0 1px 6px rgba(0, 0, 0, .5));
    background: var(--main-bg-color);
}
.navigation {
    position: relative;
    display: flex;
    align-items: center;
    column-gap: 20px;
}
.nav-link {
    padding: 0 20px;
}
.header-icon-button,
.header-icon-button:hover,
.header-icon-button:focus {
    border-color: whitesmoke;
    background: var(--main-bg-color);
    color: var(--main-text-color);
}
.header-icon-button:hover {
    color: rgba(255, 255, 255, .7);
}
.header-logo {
    position: relative;
    height: 46px;
    width: 46px;
}
.header-logo img {
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: contain;
}
.header-icon {
    font-size: 18px;
}
.header-menu.dropdown-menu {
    min-width: 160px;
    z-index: 9001;
}
.header-user-name {
    font-size: 1.3em;
    margin: 5px 0;
}
.header-button {
    width: 120px;
    margin-right: 10px;
}
.el-menu--horizontal
.el-menu-item:not(.is-disabled):focus,
.el-menu--horizontal .el-menu-item:not(.is-disabled):hover {
    background: var(--main-bg-color);
    opacity: 0.7;
}
.el-popper:first-child {
    z-index: 9001 !important;
}

/* モーダル */
.modal-outer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.7);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10000;
}
.modal-inner {
    position: relative;
    width: 80%;
    max-width: 350px;
    background-color: white;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    padding: 20px;
}
.modal-backdrop {
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}
.modal-button-wrapper {
    display: flex;
    justify-content: space-between;
    column-gap: 5px;
}
.modal-button-wrapper button {
    width: 50%;
}
.modal-is-public {
    display: flex;
    justify-content: space-between;
    margin-top: 8px;
    align-items: center;
}

/* メモリーリスト */
.memories-list {
    padding: 0;
    margin: 0;
    filter: drop-shadow(3px 3px 5px rgba(0, 0, 0, .5));
    width: calc(100% + 10px);
    margin-left: -10px;
}
.list-item {
    min-height: 100px;
    margin-bottom: 2px;
    list-style: none;
    padding: 14px 14px 14px 0;
    border: 1px solid gainsboro;
    background-color: white;
    margin-left: 10px;
    column-gap: 10px;
}
.list-item:nth-child(even) {
    background: whitesmoke;
}
.list-item:not(:first-child) {
    border-top: 0;
}
.list-item-content {
    display: flex;
    column-gap: 16px;
    align-items: flex-start;
}
.item-detail {
    width: 100%;
}
.item-menu-button {
    position: absolute;
    right: 0;
}
.item-title {
    font-size: 1.2em;
    margin-top: 6px;
}
.item-description {
    font-size: 0.9em;
    margin-top: 4px;
}
.item-date-wrapper {
    display: flex;
    align-items: center;
    column-gap: 10px;
    margin-top: 4px;
    position: relative;
}
.item-tag {
    font-size: 0.7em;
}
.item-date, .item-user {
    display: flex;
    font-size: small;
    color: rgba(0, 0, 0, 0.6);
}
.item-user {
    margin-top: 4px;
}
.time-counter {
    position: relative;
    height: fit-content;
    display: flex;
    align-items: center;
    filter: drop-shadow(3px 3px 5px rgba(0, 0, 0, .5));
    min-height: 83px;
}
.time-counter::before {
    content: "";
    position: absolute;
    height: calc(100% + 8px);
    width: calc(100% + 10px);
    top: -4px;
    left: -10px;
    clip-path: polygon(0 0, 100% 0, calc(100% - 10px) 50%, 100% 100%, 0 100%);
    background-color: var(--main-bg-color);
}
.time-counter::after {
    content: "";
    position: absolute;
    height: 5px;
    width: 10px;
    top: calc(100% + 4px);
    left: -10px;
    clip-path: polygon(0 0, 100% 0, 100% 100%);
    background-color: #011c3b;
}
.count-timer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--main-text-color);
    z-index: 1;
    padding: 0 25px 0 5px;
}

/* ドロップダウンメニュー */
.dropdown-menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 8px 4px;
}
.dropdown-menu button {
    min-width: 80px;
    width: 100%;
}
.el-button+.el-button {
    margin: 1px 0 0 0;
}

/* レイアウト */
main {
    margin-top: 60px;
    width: 100%;
    min-height: calc(100vh - 60px);
}
.container {
    position: relative;
    width: 90%;
    height: 100%;
    max-width: 900px;
    margin: 0 auto;
    padding: 40px 0 60px;
}

/* ページ */
.page-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.app-title-wrapper {
    position: relative;
    padding-bottom: 20px;
    margin-bottom: 26px;
}
.app-title-wrapper::before {
    position: absolute;
    content: "";
    width: 200px;
    height: 2px;
    bottom: 0;
    left: 0;
    background: black;
}
.app-title {
    margin-bottom: 8px;
}
.title-button-wrapper {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    align-items: center;
}
.timeline-title {
    margin-bottom: 8px;
}
.timeline-memories {
    max-height: calc(100vh - 300px);
    overflow-y: scroll;
}
.timeline-memories::-webkit-scrollbar{
    display: none;
}
.my-page-title {
    margin-bottom: 8px;
}
.new-memory-button {
    padding: 12px 25px;
}

/* utile */
.el-menu--horizontal {
    border-bottom: 0;
}
.el-menu-item {
    padding: 0;
}
.error-message {
    color: var(--warn-color);
    font-size: small;
}
.required {
    color: var(--warn-color);
    margin-left: 5px;
}
.el-loading-parent--relative {
    position: absolute !important;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.el-loading-mask {
    z-index: 20000;
    background-color: rgba(0, 0, 0, 0.7);
}
.required-login .el-empty__image {
    width: 300px;
}

.pc {
    display: block;
}
.sp {
    display: none;
}


/* レスポンシブ */
@media screen and (max-width:768px) {

    .pc {
        display: none;
    }
    .sp {
        display: block;
    }
    header {
        padding: 3%;
    }
    .navigation {
        column-gap: 10px;
    }
    .nav-link {
        padding: 0 8px;
    }

    main {
        font-size: 14px;
    }
    h1 {
        font-size: 1.6em;
    }
    h2 {
        font-size: 1.3em;
    }
    input, textarea {
        font-size: 16px !important;
    }

    .container {
        width: 92%;
    }
    .header-menu.dropdown-menu {
        min-width: 100px;
    }

    .timeline-memories {
        max-height: initial;
    }
    .memories-list {
        filter: none;
    }
    .list-item {
        margin-bottom: 0;
        padding: 14px 11px 14px 0;
        column-gap: 6px;
    }
    .item-public-tag {
        font-size: 0.7em;
        height: 18px;
        margin-bottom: 3px;
        padding: 1px 6px;
        display: flex;
        align-items: center;
    }
    .list-item-content {
        column-gap: 12px;
    }
    .item-menu-button {
        top: -7px;
    }
    .item-menu-button button {
        width: 28px;
        height: 28px;
    }
    .item-title {
        font-size: 1.1em;
        margin-top: 3px;
    }
    .item-description {
        margin-top: 3px;
    }
    .item-user {
        margin-top: 3px;
    }
    .count-timer {
        padding: 0 22px 0 2px;
    }

    .app-title-wrapper {
        padding-bottom: 14px;
        margin-bottom: 22px;
    }
    .app-title-wrapper::before {
        height: 1.4px;
    }

    .title-button-wrapper {
        align-items: flex-end;
    }

    .required-login {
        padding-top: 10px;
    }
    .required-login .el-empty__image {
        width: 260px;
    }
}