a {
    text-decoration: none;
}
h1, h2, h4, p, span {
    padding: 0;
    margin: 0;
}

.text-center {
    text-align: center;
}
.m-y-small {
    margin: 10px 0;
}
.m-t-middle {
    margin-top: 20px;
}
.flex {
    display: flex;
}

header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px;
    height: 60px;
    z-index: 10;
}
.navigation {
    display: flex;
    align-items: center;
    column-gap: 20px;
}
.nav-link {
    padding: 0 20px;
}

main {
    margin-top: 60px;
    width: 100%;
    min-height: calc(100vh - 60px);
}

.container {
    position: relative;
    width: 80%;
    max-width: 800px;
    height: 100%;
    margin: 0 auto;
    padding: 10px 0 60px;
}

.page-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.modal-outer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.7);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10000;
}
.modal-inner {
    position: relative;
    width: 80%;
    max-width: 350px;
    background-color: white;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    padding: 20px;
}
.modal-backdrop {
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}

.el-menu--horizontal {
    border-bottom: 0;
}
.el-menu-item {
    padding: 0;
}

.error-message {
    color: #dc3545;
    font-size: small;
}
.required {
    color: #dc3545;
    margin-left: 5px;
}

.memories-list {
    padding: 0;
    margin: 0;
    overflow: hidden;
}
.list-item {
    min-height: 100px;
    list-style: none;
    padding: 10px 20px;
    border: 1px solid gray;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.list-item:nth-child(even) {
    background: whitesmoke;
}
.list-item:not(:first-child) {
    border-top: 0;
}
.list-item-content {
    display: flex;
    column-gap: 18px;
}
.item-title-tag {
    display: flex;
    align-items: center;
    column-gap: 8px;
}

.dropdown-menu {
    display: flex;
    flex-direction: column;
}

.count-timer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}